body {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 86, 86);
    padding: 0 20px;
}

.logo {
    color: white;
    margin: 0;
    font-size: 1.8rem;
}

.navbarLinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbarLinks a {
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
    font-size: 1.1rem;
    transition: background 0.3s;
}

.navbarLinks a:hover {
    background-color: rgb(58, 57, 57);
}
